.swiper-button-next {
  background: gray !important;
  border-radius: 50%;
   color: black !important;
    font-weight: 700;
  }
  .swiper-button-prev {
    width: 3rem !important;
    height: 3rem !important;
  background: gray !important;
  border-radius: 50%;
   color: black !important;
    font-weight: 700;
  }
  