.swiper-button-next {
  width: 3rem !important;
  height: 3rem !important;
  color: black !important;
  font-weight: 700;
}

.swiper-button-prev {
  width: 3rem !important;
  height: 3rem !important;
  color: black !important;
  font-weight: 700;
}