.swiper-button-next {
  width: 1rem !important;
  height: 1rem !important;
  color: white !important;
  font-weight: 700;
}

.swiper-button-prev {
  width: 1rem !important;
  height: 1rem !important;
  color: white !important;
  font-weight: 700;
}